@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    line-height: 1.4rem;
}

#header {
    z-index: 2;
    display: flex;
    width: 100%;
    height: auto;
    top: 0px;
    position: fixed;
    flex-direction: row;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#header-img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    margin-left: 3rem;
}

#nav-bar {
    margin-right: 3rem;
}

#header-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#header-list li{
   padding: 1rem;
}   

@media(max-width:700px){
    #header-img {
        margin-left: 0rem;
    }

    #nav-bar {
        margin-right: 0rem;
    }

    #header {
        flex-direction: column;
        justify-content: center;
    }

    #header-list{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(max-width:450px){
    #header-img {
        margin-left: 0rem;
    }

    #nav-bar {
        margin-right: 0rem;
    }

    #header {
        padding: 1rem;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    #header-list{
        flex-direction: column;
        align-items: flex-start;
        list-style-type: circle;
    }

    #header-list li{
        padding: 0rem;
    } 
    
    #intro {
        margin-top: 1000px;
        width: 100%;
    }
    
}



.nav-link{
    text-decoration: none;
    color: black;
    opacity: 0.8;
}

.nav-link > p:hover{
    transform: scale(1.5);
}
.nav-link > p{
    text-align: center;
}

#header-list {
    list-style-type: none;
}

#intro {
    margin-top: 100px;
    width: 100%;
}

h1{
    position: absolute;
    top: 200px;
    left: 50px;
    color: white;
}

#main-img{
    max-width: 100%;
    height: auto;
}

@media(max-width:450px){
    #intro {
        margin-top: 150px;
        width: 100%;
    }

    h1{
        position: absolute;
        top: 50px;
        left: 50px;
        color: white;
        font-size: 1rem;
    }
}

@media(max-width:700px){
    #intro {
        margin-top: 132px;
        width: 100%;
    }

    h1{
        position: absolute;
        top: 170px;
        left: 50px;
        color: white;
        font-size: 1rem;
    }
}

#how-it-works {
    background-color: white;
    padding-top: 10px;
}

#video {
    height:900px;
    width:100%;
}

@media(max-width:450px){
    #video {
        height:225px;
        width:100%;
    }
}

@media(max-width:700px){
    #video {
        height:500px;
        width:100%;
    }
}

#features {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}

.features {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

.features img {
    width: 50%;
    max-width: 100%;
    max-height: auto;
    border-radius: 15px;
    margin-left: 15%;
}

.features figcaption {  
    position: absolute;
    width: 50%;
    color: black;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    padding: 2rem;
    z-index: 1;
    right: 200px;
    top: 30px;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature-description {
    line-height: 2rem;
    text-align: justify;
    margin-top: 20px;
}


@media(max-width:700px){
    .features {
        justify-content: center;
    }

    #features {
        width: 100%;
    }

    .features img {
        display: none;
    }

    .features figcaption {  
        position: static;
        width: 95%;
    }  
}

#pricing {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    margin: 1rem;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3{
    width: 100%;
    background-color: rgb(224, 224, 224);
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.card ul {
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
    list-style-type: none;
    line-height: 2rem;
}

.card p {
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    list-style-type: none;
    line-height: 2rem;
    font-weight: 700;
}

.card input[type="submit"]{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
}

.card input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
    transition: background-color 1s;
}

